<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Options</h1>
    <a href="/app/Home/gotoIndex" class="ui-btn-left" data-icon="back" data-direction="reverse" data-transition="slideup">
      Home
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-inset="true">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

      <li><a href="/app/Crop/editCropIndex">Crop Definitions</a></li>
      <li><a href="/app/Field">Fields</a></li>
      <li><a href="/app/AmountUnit/index">Units</a></li>
    </ul>
    
    <ul data-role="listview" data-inset="true">
      <li><a href="/app/Settings/makeBackup">Backup</a></li>
      <li><a href="/app/Settings/restoreInstructions">Restore from Backup</a></li>
      <li><a href="<%= url_for :action => :reset %>">Reset to Defaults</a></li>
    </ul>
    
    <ul data-role="listview" data-inset="true">
      <li><a href="/app/Settings/support">Support</a></li>
      <li>
        <a href="#" onclick='$.post("/app/Home/openExternalUrl?url=<%= Rho::RhoSupport.url_encode("http://alexsoftwaredevelopment.com/SeedToHarvest/Documentation.aspx") %>");'>
          Documentation
        </a>
      </li>
      <li><a href="mailto:feedback@alexsoftwaredevelopment.com">Send Feedback</a></li>
      <li><a href="/app/Settings/about">About</a></li>
    </ul>
  </div>
</div>
