<div data-role="page" id="serviceTermsPage">
    <style>
      div.information-container a
      {
        font-size: smaller;
      }
      
      h4
      {
        margin-bottom: 0px;
      }
      h3
      {
        font-size:12pt;
      }
      p
      {
        margin-top: 0px;
      }
    </style>
    
    <div data-role="header" data-position="inline">
        <h1>
            Terms of Service
        </h1>
        <a href="#" data-rel="back" class="ui-btn-left" data-icon="back">Back</a>
    </div>
    <div data-role="content">
        <div class="information-container" style="margin-left: -10px; margin-right:-10px; background: White;">
            <h3>
                Seed to Harvest Services Terms and Conditions
            </h3>
            <hr />
            <p>
                THE TERMS AND CONDITIONS SET FORTH BELOW (THE "TERMS") GOVERN YOUR USE OF THESE
                SERVICES (DEFINED BELOW) ON THE WORLD WIDE WEB. THESE TERMS ARE A LEGAL CONTRACT
                BETWEEN YOU AND ALEX SOFTWARE DEVELOPMENT ("ALEX SOFTWARE DEVELOPMENT", "WE" OR
                "US") AND GOVERN YOUR ACCESS TO, AND USE OF, THE SEED TO HARVEST REPORT SERVICE,
                THE SEED TO HARVEST BACKUP SERVICE, THE SEED TO HARVEST RESTORE DATA WEBSITE (ACCESSIBLE
                FROM <a href="#" onclick="restoreDataLink();">http://alexsoftwaredevelopment/<br />
                    SeedToHarvest/RestoreData.aspx</a> ), AND ANY CONNECTION OR TRANSFER OF DATA
                WHATSOEVER FROM OR TO THE SEED TO HARVEST SERVERS (COLLECTIVELY, ALL OF THE ABOVE
                ARE REFERRED TO AS THE "SERVICES"). IF YOU DO NOT AGREE WITH ANY OF THESE TERMS,
                DO NOT ACCESS OR OTHERWISE USE THE SERVICES OR ANY INFORMATION CONTAINED WITHIN
                THE SERVICES. YOUR USE OF THE SERVICES SHALL BE DEEMED TO BE YOUR AGREEMENT TO ABIDE
                BY EACH OF THE TERMS SET FORTH BELOW. ALEX SOFTWARE DEVELOPMENT MAY MAKE CHANGES
                TO THE SERVICES AT ANY TIME. ALEX SOFTWARE DEVELOPMENT CAN CHANGE THESE TERMS AT
                ANY TIME. IF ALEX SOFTWARE DEVELOPMENT MAKES ANY CHANGES TO THESE TERMS, WE WILL
                POST AN UPDATED TERMS OF USE AT <a href="#" onclick="serviceTermsLink();">http://alexsoftwaredevelopment.com/<br />SeedToHarvest/DataServiceTerms.aspx</a>
                . IF ANY MODIFICATION IS UNACCEPTABLE TO YOU, YOU SHALL CEASE USING THE SERVICES.
                IF YOU DO NOT CEASE USING THE SERVICES AFTER SUCH NOTICE IS POSTED, YOU WILL BE
                DEEMED TO HAVE ACCEPTED THE CHANGE.
            </p>
            <h4>
                General Use Restrictions
            </h4>
            <p>
                Certain information, documents, products and services provided with and through
                the Services, including content, logos, graphics and images (together, the "Materials")
                are made available to you by Alex Software Development and are the copyrighted and/or
                trademarked work of Alex Software Development or Alex Software Development's contributors.
                Alex Software Development grants you a limited, personal, non-exclusive and non-transferable
                license to use and to display and to make one copy of the Materials and to use the
                Services solely for your personal use or your internal farm business use. Except
                for the license set forth in the preceding sentence above, you acknowledge and agree
                that you have no right to modify, edit, copy, reproduce, create derivative works
                of, reverse engineer, alter, enhance or in any way exploit any of the Materials
                or Services in any manner. This limited license terminates automatically, without
                notice to you, if you breach any of these Terms. Upon termination of this limited
                license, you agree to immediately destroy any downloaded or printed Materials. Except
                as stated herein, you acknowledge that you have no right, title or interest in or
                to these Services, or any Materials.
            </p>
            <h4>
                Privacy Policy
            </h4>
            <p>
                Your use of the Services is governed by the Seed to Harvest Services Privacy Policy.
            </p>
            <h4>
                Third Party Content
            </h4>
            <p>
                Certain information and other content may be the material of third party licensors
                and suppliers to Alex Software Development ("Third Party Content"). The Third Party
                Content is, in each case, the copyrighted and/or trademarked work of the creator/licensor.
                You agree to only display the Third Party Content on your personal computer solely
                for your personal use or your internal farm business use. You acknowledge and agree
                that you have no right to download, cache, reproduce, modify, display (except as
                set forth in this paragraph), edit, alter or enhance any of the Third Party Content
                in any manner unless you have permission from the owner of the Third Party Content.
            </p>
            <h4>
                Links to Third Party Sites
            </h4>
            <p>
                The Services may be linked to other sites and/or services that are not Alex Software
                Development sites/services. Alex Software Development is providing these links to
                you only as a convenience, and Alex Software Development is not responsible for
                such linked sites and/or services, including, without limitation, the content or
                links displayed on, within, or in connection with such sites and/or services.
            </p>
            <h4>
                Prohibited Uses
            </h4>
            <p>
                You promise not to use the Services for any purpose that is unlawful or prohibited
                by these Terms. You agree to abide by all applicable local, state, national and
                international laws and regulations. When using the Services, you agree not to upload
                nor to allow the upload of any materials, reports, records or data or take any actions
                that are inappropriate or disruptive to the Services. Without limitation, you agree
                not to:
            </p>
            <ul>
                <li>Use racially, ethnically, or otherwise offensive language.</li>
                <li>Incite illegal activity.</li>
                <li>Use explicit/obscene language or solicit/upload sexually explicit images (actual
                    or simulated).</li>
                <li>Upload or allow the upload of anything that exploits children or minors or that
                    depicts cruelty to animals.</li>
                <li>Upload or allow the upload of any personal information that you do not have authority
                    or permission to upload.</li>
                <li>Upload or allow the upload of any copyrighted or trademarked materials without the
                    express permission from the owner.</li>
                <li>Use any robot, spider, scraper or other automated means to access the Services.</li>
                <li>Take any action that imposes an unreasonable or disproportionately large load on
                    our infrastructure.</li>
                <li>Allow or otherwise permit any third party to use the Services under any circumstances
                    or conditions.</li>
            </ul>
            <p>
                This list of prohibitions provides examples and is not complete or exclusive. Alex
                Software Development reserves the right to terminate your access to the Services
                and/or your ability to upload content to the Services with or without cause and
                with or without notice, for any reason or no reason, or for any action that Alex
                Software Development determines is inappropriate or disruptive to the Services or
                to any other user of the Services. Alex Software Development may report to law enforcement
                authorities any actions that may be illegal, and any reports it receives of such
                conduct. When legally required or at Alex Software Development's discretion, Alex
                Software Development will cooperate with law enforcement agencies in any investigation
                of alleged illegal activity in connection with the Services or on the Internet.
                These prohibitions do not require Alex Software Development to monitor, police or
                remove any information submitted by you or any other user.
            </p>
            <h4>
                Prohibition of Third Party Access to the Services
            </h4>
            <p>
                Under no circumstances or conditions shall you allow or otherwise permit any third
                party to use the Services. You also agree not to give any third party access to
                the Services.
            </p>
            <h4>
                Unauthorized Activities
            </h4>
            <p>
                Unauthorized use of any Materials or Third Party Content contained within or in
                connection with the Services may violate certain laws and regulations. You agree
                to defend, indemnify, and hold harmless Alex Software Development, its affiliates
                and their employees, contractors, officers, directors and representatives from all
                liabilities, claims, and expenses, including reasonable attorneys' fees, that arise
                from your (i) use or misuse of the Services; (ii) your access to the Services, your
                records, data or information that you upload or allow the upload of to the Services,
                your violation of these Terms; or (iii) the infringement by you of any intellectual
                property or other right of any person or entity. Alex Software Development reserves
                the right, at its own expense, to assume the exclusive defense and control of any
                matter otherwise subject to indemnification by you, in which event you will assist
                and cooperate with Alex Software Development in asserting any available defenses.
            </p>
            <h4>
                Proprietary Rights
            </h4>
            <p>
                Alex Software Development is a trademark of Alex Software Development. Other trademarks,
                names and logos displayed on or in connection with the Services are the property
                of their respective owners. Unless otherwise specified in these Terms, all information
                and screens appearing on or in connection with the Services, including documents,
                services, site design, text, graphics, logos, images and icons, as well as the arrangement
                thereof, are the sole property of Alex Software Development, Copyright &#0169; 2012
                Alex Software Development. All rights not expressly granted herein are reserved.
                Except as otherwise required or limited by applicable law, any reproduction, distribution,
                modification, retransmission, or publication of any copyrighted material is strictly
                prohibited without the express written consent of the copyright owner or license.
            </p>
            <p>
                YOU OWN ALL OF YOUR RECORDS, DATA, AND INFORMATION THAT YOU UPLOAD OR ALLOW THE
                UPLOAD OF TO THE SERVICES. ALEX SOFTWARE DEVELOPMENT WILL USE YOUR RECORDS, DATA,
                AND INFORMATION THAT YOU UPLOAD OR ALLOW THE UPLOAD OF TO THE SERVICES ONLY AS NECESSARY
                TO PROVIDE THE SERVICES TO YOU AND AS OTHERWISE SET FORTH IN THE PRIVACY POLICY.
            </p>
            <h4>
                New Features or Functionality
            </h4>
            <p>
                Alex Software Development may, in the future, offer new services and/or features
                through the Services. Such new features and/or services shall be subject to these
                Terms. Your continued use of the Services after the introduction of new features
                and/or services constitutes your acceptance of the Terms. Such new features and/or
                services may be offered free of charge or for a fee that you will be asked to pay
                in advance in order to use such new services.
            </p>
            <h4>
                NO GUARANTEE OF CONTINUED SERVICE
            </h4>
            <p>
                ALEX SOFTWARE DEVELOPMENT MAKES NO GUARANTEES OF ANY KIND WHATSOEVER THAT THE SERVICES
                WILL CONTINUE TO BE AVAILABLE. ALEX SOFTWARE DEVELOPMENT RESERVES THE RIGHT TO TERMINATE
                THE SERVICES AT ANY TIME, WITH OR WITHOUT NOTIFICATION AND WITH OR WITHOUT CAUSE,
                FOR ANY REASON OR FOR NO REASON. IN THE EVENT THAT ALEX SOFTWARE DEVELOPMENT SHOULD
                TERMINATE THE SERVICES, ALEX SOFTWARE DEVELOPMENT MAY, AT ALEX SOFTWARE DEVELOPMENT'S
                SOLE DISCRETION, CHOOSE TO PROVIDE YOU WITH AN ALTERNATIVE MEANS OF ACCESSING THE
                FUNCTIONALITY OF THE SERVICES.
            </p>
            <h4>
                NO WARRANTY
            </h4>
            <p>
                YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE SERVICES IS AT YOUR SOLE RISK
                AND THAT THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT
                IS WITH YOU. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICES ARE
                PROVIDED "AS IS" AND "AS AVAILABLE", WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY
                KIND, AND ALEX SOFTWARE DEVELOPMENT HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS
                WITH RESPECT TO THE SERVICES, EITHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT
                NOT LIMITED TO, THE IMPLIED WARRANTIES AND/OR CONDITIONS OF MERCHANTABILITY, OF
                SATISFACTORY QUALITY, OF FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY, OF QUIET
                ENJOYMENT, AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS. ALEX SOFTWARE DEVELOPMENT
                DOES NOT WARRANT AGAINST INTERFERENCE WITH YOUR ENJOYMENT OR USE OF THE SERVICES,
                THAT THE FUNCTIONS CONTAINED IN, PERFORMED BY, OR PROVIDED BY THE SERVICES, WILL
                MEET YOUR REQUIREMENTS, THAT THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED
                OR ERROR-FREE, OR THAT DEFECTS IN THE SERVICES WILL BE CORRECTED. NO ORAL OR WRITTEN
                INFORMATION OR ADVICE GIVEN BY ALEX SOFTWARE DEVELOPMENT OR ITS AUTHORIZED REPRESENTATIVE
                SHALL CREATE A WARRANTY. SHOULD THE SERVICES PROVE DEFECTIVE, YOU ASSUME THE ENTIRE
                COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION. SOME JURISDICTIONS DO NOT
                ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATIONS ON APPLICABLE STATUTORY
                RIGHTS OF A CONSUMER, SO THE ABOVE EXCLUSION AND LIMITATIONS MAY NOT APPLY TO YOU.
            </p>
            <h4>
                Limitation of Liability
            </h4>
            <p>
                TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL ALEX SOFTWARE DEVELOPMENT
                BE LIABLE FOR PERSONAL INJURY, OR ANY INCIDENTAL, SPECIAL, INDIRECT OR CONSEQUENTIAL
                DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS,
                LOSS OF DATA, BUSINESS INTERRUPTION OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, ARISING
                OUT OF OR RELATED TO YOUR USE OR INABILITY TO USE THE SERVICES, OR THE TERMINATION
                OF THE SERVICES, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF LIABILITY (CONTRACT,
                TORT OR OTHERWISE) AND EVEN IF ALEX SOFTWARE DEVELOPMENT HAS BEEN ADVISED OF THE
                POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY
                FOR PERSONAL INJURY, OR OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS LIMITATION
                MAY NOT APPLY TO YOU. In no event shall Alex Software Development's total liability
                to you for all damages (other than as may be required by applicable law in cases
                involving personal injury) exceed the amount of fifty dollars ($50.00). The foregoing
                limitations will apply even if the above stated remedy fails of its essential purpose.
            </p>
            <h4>
                Local Laws; Export Control
            </h4>
            <p>
                Alex Software Development controls and operates the Services from its headquarters
                in the United States of America and the Services, the Materials and/or Third Party
                Content may not be appropriate or available for use in other locations. If you use
                the Services outside the United States of America, you are responsible for following
                applicable local laws.
            </p>
            <h4>
                General
            </h4>
            <p>
                Alex Software Development may terminate and/or suspend your access to the Services
                with or without notice if you violate these Terms or for any reason. Tennessee law
                and controlling U.S. federal law, without regard to the choice or conflicts of law
                provisions, will govern these Terms. Any disputes relating to these Terms or the
                Services will be heard in the courts located in Nashville, TN. If any of these Terms
                is found to be inconsistent with applicable law, then such term shall be interpreted
                to reflect the intentions of the parties, and no other terms will be modified. Alex
                Software Development's failure to enforce any of these Terms is not a waiver of
                such term. These Terms are the entire agreement between you and Alex Software Development
                and supersede all prior or contemporaneous negotiations, discussions or agreements
                between you and Alex Software Development about the Services. The proprietary rights,
                disclaimer of warranties, representations made by you, indemnities, limitations
                of liability and general provisions shall survive any termination of these Terms.
            </p>
        </div>
    </div>
    
    <script type="text/javascript">
        function restoreDataLink() {
            $.post("/app/Home/openExternalUrl?url=<%= Rho::RhoSupport.url_encode('http://alexsoftwaredevelopment.com/SeedToHarvest/RestoreData.aspx') %>");
        }

        function serviceTermsLink() {
            $.post("/app/Home/openExternalUrl?url=<%= Rho::RhoSupport.url_encode('http://alexsoftwaredevelopment.com/SeedToHarvest/DataServiceTerms.aspx') %>");
        }
    </script>
</div>
